h2 {
    background-color: rgb(242, 207, 170);
}

.form-inline {
    border: black;
    border-style: solid;
    padding:10px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    background-color: #dee2e6;
}